.recapcha-input {
    margin: 8px 0 0;
    background: #fff;
    padding: 4px;
    border: none;
    width: 100%;
    font-size: 18px !important;
    border-bottom: 1px solid #ccc;
}

.card-recap {
    width: 170px;
    margin: 0;
    border-radius: 5px;
    padding: 8px;
    background: #ffffff;
    box-shadow: 0px 3px 10px #ccc;
}

.refrash-button {
    background: #000;
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 30px;
    float: right;
    height: 30px;
    margin-top: 4px;
    line-height: 20px;
}

.refrash-button .mat-icon {
    line-height: inherit;
    font-size: 25px!important;
    width: auto;
    height: auto
}

.main img {
    width: 80%;
    float: left;
    border-radius: 5px
}


