.cdk-overlay-pane{
    width: 100% !important;
}
.mat-select-panel .mat-option{
    font-size: 16px !important;
}
.btn-primary.mg-0{
    padding: 0 10px;
    font-size: 13px;
    // margin-left: 10px;
}